<%- include('includes/head') %>
<h1>
About Us
</h1>
<p>I have been working at this school for several years now, and in that time have realized the many rewards that being a teacher here can have. Though I was hired to teach, I have also learned a lot from my students and my time here. It has made me a better person in many aspects and I would not trade this experience for</p>
<p>
I have been working at this school for several years now, and in that time have realized the many rewards that being a teacher here can have. Though I was hired to teach, I have also learned a lot from my students and my time here. It has made me a better person in many aspects and I would not trade this experience for</p>

<%- include('includes/footer') %>